    @font-face {
        font-family: 'LeagueGothicRegular';
        src: url('../fonts/League_Gothic-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Psycho';
        src: url('../fonts/Needleteeth_Psycho.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    h1 {
      font-size:500%;
      font:5em/1 'LeagueGothicRegular', sans-serif;
    }

    #warning {
        font: 500% 'Psycho';
        color:white;
        text-align:center;
        padding:0px 0 10px 0;
        -ms-transform:scaleX(1.3);
        -moz-transform:scaleX(1.3);
        -o-transform:scaleX(1.3);
        transform:scaleX(1.3);
        -webkit-transform: scaleX(1.3);
    }

    #posts {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background:#DDDDFF;
        padding:20px;
        width:275px;
        clear:both;
    }

    #Geshe_Kelsang ul, #Modern_Buddhism ul {
        padding:0px;
        margin-left:10px;
    }

    #posts, #Geshe_Kelsang, #Modern_Buddhism {
        float:left;
        margin-right:10px;
        margin-top:10px;
        padding-right:20px;
    }

    #Geshe_Kelsang, #Modern_Buddhism {
        width:200px;
        font-size:90%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background:#DDDDFF
    }

    #Geshe_Kelsang p, #Modern_Buddhism p {
        font-size:85%;
    }

    #Geshe_Kelsang ul, #Modern_Buddhism ul {
        list-style:none;
    }

    #Geshe_Kelsang a img, #Modern_Buddhism a img {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    #rss {
        right:55px;
        position:absolute;
        display:block;
        top:10px;

    }

      a img {border:none;}
      body {
        font-family:Verdana, monopsace;
        font-size:13px;
        text-align:justify;
        font-weight:normal;
      }
      p {
        font-family:Verdana, monopsace;
        font-size:13px;
        text-align:justify;
        font-weight:500;
      }

      #bannerTop {
        display:block;
        margin-left:auto;margin-right:auto;
        width:922px;
        position:relative;
        top:0px;
        max-width:922px;
        height:100%;
        margin-top:0;
        padding-top:0;
        border-top:0;
        background-image: url('../images/55218_165832926781161_100000633653918_394025_4661064_o.jpg');
        height:254px;
      }

      #page {
        display:block;
        margin-left:auto;margin-right:auto;
        width:85%;
        position:relative;
        top:0px;
        max-width:800px;
        height:100%;
        margin-top:0;
        border-top:0;
      }

      body {border-top:0;padding:0;margin:0;}

      img, #banner, ul#menu, #header {padding:0;margin:0;border:0;}

      #banner {

        border-top: 10px black solid;
        border-bottom: 10px black solid;
        border-left: 4px black solid;
        border-right: 4px black solid;
        -ms-transform:scaleY(1.35) skewY(-9deg);
        -moz-transform:scaleY(1.35) skewY(-9deg);
        -o-transform:scaleY(1.35) skewY(-9deg);
        transform:scaleY(1.35) skewY(-9deg);
        -webkit-transform:scaleY(1.35) skewY(-9deg);
        position:relative;
        left:30px;top:50px;
        font-size:30px;
        font-weight:900;
        width:301px;
      }

      #banner a {font-size:100%;font:2em/1 'LeagueGothicRegular', sans-serif;text-decoration:none; color:black;}

      #sub-banner {
        text-decoration:none;
        -ms-transform:skewY(-16deg);
        -moz-transform:skewY(-16deg);
        -o-transform:skewY(-16deg);
        transform:skewY(-16deg);
        -webkit-transform:skewY(-16deg);
        font-size:30%;
        font:200% 'LeagueGothicRegular', sans-serif;
        position:relative;
        left:210px;
        top:43px;
        width: 161px;
      }


      #header, img {vertical-align:bottom;}

      #menu-bar {
        margin:auto;
        vertical-align:top;
        background-color:black;
        height:36px;
        width:922px;
        position:relative;
        border-bottom-right-radius:10px;
        border-bottom-left-radius:10px;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
      }

      #menu-bar ul {left:0px;margin:auto;padding-left:0;}

      ul#menu {position:absolute;display:inline;}

      #menu li {list-style:none;display:inline;}

      ul#menu > li {float:left; padding:0px;position:relative;}

      ul#menu li ul li a:hover {background-color:rgb(49,91,131);}
      ul#menu li a {
        text-decoration:none;
        color:white;
        display:block;
        padding:10px 20px;
      }

      ul.#menu ul li a {
        width: 100%;
        display: inline-block;
      }
      ul#projects {top:36px;width:300px;}

      ul#menu li ul {
        position:absolute;
        background-color:black;
        z-index:1;
        display:none;
      }

      ul#menu li ul li {
        padding:0px 0px;
        margin:0px 0px;
      }

      ul#menu > li:hover {
        background:rgb(49,91,131);
        background:-webkit-gradient(linear,left top, left bottom,from(rgb(49,91,131)),to(rgb(126,173,217)));
        background:-moz-linear-gradient(top,rgb(49,91,131),rgb(126,173,217));
        background:-o-linear-gradient(top,rgb(49,91,131),rgb(126,173,217));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#315B83,endColorStr=#7EADD9,GradientType=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#315B83,endColorstr=#7EADD9,GradientType=0)";
      }

      #menu li a,
      #menu li,
      ul#menu,
      ul#projects,
      #menu li:hover,
      #menu li a:hover {
        -moz-border-radius: 10px;
        -webkit-border-radius:10px;
        border-radius: 10px;
      }

      #banner,
      #menu li a,
      ul#menu li a {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      #title {font-size:190%;}
      #page {position:relative;padding:50px 50px 500px; 50px;height:100%;
             -moz-border-radius: 10px;
             -webkit-border-radius:10px;
             border-radius: 10px;
             border-color:white;
             border-style:solid;
             border-top-style:none;
      }

      #content {position:relative;top:40px;}

      #block {width:800px;margin:auto;opacity:0.6;filter:alpha(opacity=60)}
      #socialize {position:absolute;margin:5px;right:50px;}

      #block {height:140px;background-color:black;
        border-top-right-radius:15px;
        border-top-left-radius:15px;
      }
      #footnote {color:white;font-size:67%;text-align:center;}

      .post-title {font-size:90%;padding-top:5px;}
      .post-date {font-size:80%;font-style:italic;margin-left:10px;padding-bottom:5px;}

      .dsq-comment-text {font-size:87%;}

      #comments {position:relative;top:50px;clear:both;}

      .current-page {cursor:default;background-color:gray;
            background:-webkit-gradient(linear,left top, left bottom,from(gray),to(black));
            background:-moz-linear-gradient(top,gray,black);
            background:-o-linear-gradient(top,gray,black);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#808080,endColorStr=#000000,GradientType=0);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080,endColorstr=#000000,GradientType=0)";
      }

      .current-page-home {cursor:default;}

      p:first-child:first-letter {font-size:170%;}
      p + p:first-letter {font-size:120%;}

      .code {white-space:pre;font-family:"Courier New", monospace;font-size:85%;text-align:left;display:block;margin-left:auto;margin-right:auto;font-weight:800;}
      .code-inline {font-family:"Courier New", monospace;font-weight:800;}

      .figure {display:block;margin-right:auto;margin-left:auto;}


      .sub {
        vertical-align:sub;
      }