.section-title {
    font-size:130%;
    font-weight:bold;
}

.list-title {
    font-size:110%;
    font-weight:bold;
    padding:10px 0px 5px 0px;
}

.definition {
    font-size:110%;
    font-style:italic;
    padding:5px 0 5px 0;
}

.section {
    padding:0 0 8px 50px;
}

.section-body {
    padding:15px ;
}

.outlines-title {
    font-size:200%;
    margin:auto;
    width:10%;
}

p {
    display:block;
    padding: 0px 0 0 0;
}