<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{page.title}}</title>

<script type="text/javascript" src="{{site.host}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{site.host}}/js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="{{site.host}}/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4dea1d8b5af22836"></script>
<script type="text/javascript" src="http://deathtoie6.com/ie6-not-supported.js" ></script>

<script type="text/javascript" src="{{site.host}}/js/page/universal.js"></script>
<link rel="stylesheet" type="text/css" href="{{site.host}}/css/universal.css" />

</head>
<body>

<div id="masthead">
<span id="banner"><a href="{{site.host}}/index.html">nicnguyen.github.com</a></span>
<div id="header">
<img src="{{site.host}}/images/55218_165832926781161_100000633653918_394025_4661064_o.jpg" alt="header"/>
</div>
<div id="menu-bar">
    <ul id="menu">
        <li id="projects-item">
            <a href="{{site.host}}/projects.html">Projects</a>

                <ul id="projects">
                    <li>
                        <a href="{{site.host}}/projects/spath.html">SPath</a>
                    </li>
                    <li>
                        <a href="{{site.host}}/projects/dharmavis.html">DharmaVis</a>
                    </li>
                    <li>
                        <a href="{{site.host}}/links.html">The twelve dependent-related links</a>
                    </li>
                </ul>

        </li>
        <li>
            <a href="{{site.host}}/papers.html">Papers</a>
        </li>
        <li>
            <a href="{{site.host}}/about.html">About</a>
        </li>
    </ul>
</div>
<div id="page">
        <span id="title">{{page.title}}</span>
        <div id="socialize">
        <!-- AddThis Button BEGIN -->
            <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4dea405e6b0bd40c"><img src="http://s7.addthis.com/static/btn/sm-share-en.gif" width="83" height="16" alt="Bookmark and Share" style="border:0"/></a>
        <!-- AddThis Button END -->
        </div>
        <div id="content">
            {{content}}
        </div>

    <div id="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'nicnguyen'; // required: replace example with your forum shortname

            // The following are highly recommended additional parameters. Remove the slashes in front to use.
            var disqus_identifier = '{{first_post}}';
            // var disqus_url = 'http://example.com/permalink-to-page.html';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

</div>
</div>
<div id="block">
    <div id="footnote">Photography by Erica Kim. Website created by Nicholas Nguyen.</div>
</div>
</body>
</html>